<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta http-equiv="author" content="">
	<meta http-equiv="contact" content="" >
    <meta name="description" content="">
    <meta name="keywords" content="">    
    
    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }}
        
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

  <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/scss/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/scss/syntax.css">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/favicon.ico">
</head>

<html>
<body>
    <nav>
        <div class="grid">
            <div class="loop3">
                <h6 class="logo"><a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a></h6>
                <!--<p>{{ site.tagline }}</p>-->
            </div>
            
            <div class="loop9">
                <ul class="menu">
                    <li><p><a href="{{ site.baseurl }}/pages/about">about</a></p></li>
                    <li><p><a href="https://github.com/dbelt93/min">github</a></p></li>
                    <li><p><a href="#">download</a></p></li>
                </ul>
            </div>
        </div>
    </nav>