/* line 21, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/config.scss */
.after, .grid:after {
  content: "";
  display: table;
  clear: both; }

/* line 27, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/config.scss */
.animate, a {
  transition: all 0.2s; }

/* line 31, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/config.scss */
.main, nav, section, article, footer {
  width: 100%;
  height: auto;
  background: #fff; }

/* line 3, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.grid {
  width: 100%;
  min-width: 260px;
  max-width: 730px;
  margin: 0 auto; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop1 {
  width: 8.33333%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop2 {
  width: 16.66667%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop3 {
  width: 25%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop4 {
  width: 33.33333%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop5 {
  width: 41.66667%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop6 {
  width: 50%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop7 {
  width: 58.33333%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop8 {
  width: 66.66667%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop9 {
  width: 75%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop10 {
  width: 83.33333%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop11 {
  width: 91.66667%; }

/* line 24, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
.loop12 {
  width: 100%; }

/* line 30, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
[class*='loop'] {
  float: left;
  padding: 10px; }

@media (max-width: 768px) {
  /* line 37, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/grid.scss */
  [class*='loop'] {
    width: 100%; }
 }

/* line 12, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
::-moz-selection {
  color: #fff;
  background: #73B6ED; }

/* line 13, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
::selection {
  color: #fff;
  background: #73B6ED; }

/* line 15, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
html, body {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif; }

/* line 26, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 32, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
a:hover {
  color: #73B6ED; }

/* line 35, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif; }

/* line 44, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h1 {
  font-size: 28px; }

/* line 45, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h2 {
  font-size: 25px; }

/* line 46, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h3 {
  font-size: 22px; }

/* line 47, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h4 {
  font-size: 20px; }

/* line 48, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h5 {
  font-size: 18px; }

/* line 49, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
h6 {
  font-size: 16px; }

/* line 51, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Muli', sans-serif; }

/* line 63, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
.right {
  text-align: right; }

/* line 65, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
.title {
  margin-bottom: 25px; }

/* line 69, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
.title-post {
  margin-bottom: 5px; }

/* line 73, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
.date {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 25px; }

/* line 80, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
img {
  width: 100%;
  height: auto; }

/* line 85, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
nav {
  padding: 15px 0px;
  border-bottom: solid 1px #f1f1f1; }
  /* line 90, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  nav .logo {
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase; }
  /* line 97, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  nav .menu {
    text-align: right; }
  /* line 99, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px; }

/* line 106, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
section {
  padding: 75px 0px; }

/* line 111, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
article {
  padding: 75px 0px; }

/* line 116, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
.page {
  padding: 25px 0px;
  border-top: solid 1px #f1f1f1; }
  /* line 120, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .page a {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; }
  /* line 125, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .page ul li {
    list-style-type: none;
    display: block;
    margin-top: 5px; }
  /* line 131, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .page .small {
    font-weight: 400; }
  /* line 133, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .page .older {
    float: right; }
  /* line 134, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .page .newer {
    float: left; }

/* line 138, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
footer {
  padding: 25px 0px;
  border-top: solid 1px #f1f1f1; }

@media (max-width: 768px) {
  /* line 147, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  nav .logo, nav .menu {
    text-align: center; }
  /* line 149, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  nav ul li {
    margin-left: 5px;
    margin-right: 5px; }

  /* line 156, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  footer p {
    text-align: center; }

  /* line 159, C:/Users/DanielBelt/Documents/GitHub/min/assets/scss/style.scss */
  .right {
    text-align: center; }
 }

/*# sourceMappingURL=style.css.map */