// min v1.0

@import 'config.scss';
@import 'grid.scss';

// Demo CSS

html, body {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    @extend .animate;
}

.big {font-weight: 700;}

a:hover {
    color: #39a4ff;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Muli', sans-serif;
}

h1 {font-size: 28px;}
h2 {font-size: 25px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-family: 'Muli', sans-serif;
}

.right {text-align: right;}

.title {
    margin-bottom: 25px;
    
    .post {
        margin-bottom: 5px;
    }
}

.date {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 25px;
}

nav {
    @extend .main;
    padding: 15px 0px;
    border-bottom: solid 1px #f1f1f1;
    
    .logo {
        font-weight: 700;
        line-height: 1.8;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
    }
    
    .menu {text-align: right;}
    
    ul li {
        list-style-type: none;
        display: inline-block;
        margin-left: 25px;
    }
}

section {
    @extend .main;
    padding: 75px 0px;
}

article {
    @extend .main;
    padding: 75px 0px;
}

.page {
    padding: 25px 0px;
    border-top: solid 1px #f1f1f1;
    
    ul li {
        list-style-type: none;
        display: block;
        margin-top: 5px;
    }
    
    a {
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }
    
    .small {font-weight: 400;}
    
    .older {float: right;}
    .newer {float: left;}
}


footer {
    @extend .main;
    padding: 25px 0px;
    border-top: solid 1px #f1f1f1;
}